  <!-- Footer -->
  <footer class="bg-blue-600 py-4 p-4 shadow-inner">
    <div class="container mx-auto gap-3 flex flex-row flex-wrap justify-around text-sm">
      <a href="/footer.html?pagecontent=faq" class="text-white text-gray-600 mb-2 md:mb-0">FAQ</a>
      <a href="/footer.html?pagecontent=privacy" class="text-white text-gray-600 mb-2 md:mb-0">Privacy Policy</a>
      <a href="https://bookmyhsrp.com/assets/pdf/Refund_cancellationNew.pdf" target="_blank" class="text-white text-gray-600 mb-2 md:mb-0">Refund & Cancellation Policy</a>
      <a href="/footer.html?pagecontent=safeandsecure" class="text-white text-gray-600 mb-2 md:mb-0">Safe & Secure Transaction</a>
      <a href="/footer.html?pagecontent=terms" class="text-white text-gray-600 mb-2 md:mb-0">Terms & Conditions</a>
      <a href="/footer.html?pagecontent=notifications" class="text-white text-gray-600 mb-2 md:mb-0">Government Notifications</a>
      <a href="https://bookmyhsrp.com/assets/pdf/HSRP_features.pdf" target="_blank" class="text-white text-gray-600 mb-2 md:mb-0">About HSRP</a>
      <a href="/footer.html?pagecontent=grievance" class="text-white text-gray-600 mb-2 md:mb-0">Grievance Redressal</a>
      <a href="/footer.html?pagecontent=reprint" class="text-white text-gray-600 mb-2 md:mb-0">Reprint Receipt</a>
    </div>
  </footer>