<body class="bg-blue-100 flex lg:w-1/2 items-center justify-center min-h-screen">
    <div class="md:w-2/3 bg-blue-100 w-5/6 mx-auto p-6 shadow-md rounded-lg mt-10">
        <h1 class="text-3xl font-bold text-center mb-6">Terms & Conditions</h1>
        <h3 class="text-lg font-semibold mt-6 mb-2">1. Disclaimer</h3>
        <div class="text-gray-700 mb-4">
            <!-- <p class="mb-2">1. Disclaimer</p> -->
            <p class="mb-2"> 
            <p class="text-sm">
                I hereby acknowledge and undertake that I am accessing the services on www.bookmyhsrp.com/Company website and transacting at my own risk. 
                www.bookmyhsrp.com/Company will neither be liable nor responsible for any actions or inactions by the vehicle dealer for the purpose 
                of affixation on whose behalf www.bookmyhsrp.com is collecting the affixation fee and hereby expressly disclaim any and all responsibility and liability in this regard. www.bookmyhsrp.com/Company is only responsible to deliver HSRP Plates at the Dealer location within the stipulated time.
                </p>
                <br>
                <p>
                    
															   It is the responsibility of Vehicle dealer to install the HSRP on the vehicle as per the guidelines of Statutory Authorities. 
															   www.bookmyhsrp.com/Company will not arbitrate or resolve any dispute or disagreement between vehicle owner and the vehicle dealer before or after fitment process. 
										   					
                </p>
                <br>
                <p>
                    
                    I/we have read the Terms &amp; Conditions/FAQ/Privacy Policy, any legal dispute arise jurisdiction will be only in NCT of Delhi.
										   					
                </p>
        </div>

        <h3 class="text-lg font-semibold mt-6 mb-2">2. Log Data</h3>
        <div class="text-gray-700 mb-4">
            <p class="mb-2">i. We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>
        </div>

        <h3 class="text-lg font-semibold mt-6 mb-2">3. Cookies</h3>
        <div class="text-gray-700 mb-4">
            <p class="mb-2">i. Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.</p>
            <p class="mb-2">ii. Our website uses these “cookies” to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.</p>
        </div>
        <h3 class="text-lg font-semibold mb-4">4. Service Providers</h3>
        <p class="text-gray-700 mb-4">i. We may employ third-party companies and individuals due to the following reasons:</p>
        <ul class="list-disc list-inside text-gray-700 mb-4">
            <li>a. To facilitate our Service;</li>
            <li>b. To provide the Service on our behalf;</li>
            <li>c. To perform Service-related services; or</li>
            <li>d. To assist us in analyzing how our Service is used.</li>
        </ul>
        <p class="text-gray-700 mb-4">ii. We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>

        <h3 class="text-lg font-semibold text-gray-700 mb-4">5. Security</h3>
        <p class="text-gray-700 mb-4">i. We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

        <h3 class="text-lg font-semibold text-gray-700 mb-4">6. Links to Other Sites</h3>
        <p class="text-gray-700 mb-4">i. Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

        <h3 class="text-lg font-semibold text-gray-700 mb-4">7. Children's Privacy</h3>
        <p class="text-gray-700 mb-4">i. Our Services do not address anyone under the age of 18. We do not knowingly collect personal identifiable information from children under 18. In the case we discover that a child under 18 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>

        <h3 class="text-lg font-semibold text-gray-700 mb-4">8. Changes to This Privacy Policy</h3>
        <p class="text-gray-700 mb-4">i. We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

        <h3 class="text-lg font-semibold text-gray-700 mb-4">9. Contact Us</h3>
        <p>i. For any questions or suggestions about Privacy Policy, do not hesitate to mail us at queries@bookmyhsrp.com. ii. This Privacy Policy page is created at www.bookmyhsrp.com</p>
    </div>
</body>